<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>CFBundleDevelopmentRegion</key>
	<string>en</string>
	<key>CFBundleDisplayName</key>
	<string>FoodApplication</string>
	<key>CFBundleExecutable</key>
	<string>$(EXECUTABLE_NAME)</string>
	<key>CFBundleGetInfoString</key>
	<string></string>
	<key>CFBundleIdentifier</key>
	<string>$(PRODUCT_BUNDLE_IDENTIFIER)</string>
	<key>CFBundleInfoDictionaryVersion</key>
	<string>6.0</string>
	<key>CFBundleName</key>
	<string>$(PRODUCT_NAME)</string>
	<key>CFBundlePackageType</key>
	<string>APPL</string>
	<key>CFBundleShortVersionString</key>
	<string>1.0</string>
	<key>CFBundleSignature</key>
	<string>????</string>
	<key>CFBundleVersion</key>
	<string>1</string>
	<key>LSApplicationCategoryType</key>
	<string></string>
	<key>LSRequiresIPhoneOS</key>
	<true/>
	<key>NSAppTransportSecurity</key>
	<dict>
		<key>NSAllowsArbitraryLoads</key>
		<true/>
		<key>NSExceptionDomains</key>
		<dict>
			<key>localhost</key>
			<dict>
				<key>NSExceptionAllowsInsecureHTTPLoads</key>
				<true/>
			</dict>
		</dict>
	</dict>
	<key>NSHumanReadableCopyright</key>
	<string></string>
	<key>UIAppFonts</key>
	<array>
		<string>fonts/Montserrat-Medium.ttf</string>
		<string>fonts/Montserrat-Bold.ttf</string>
		<string>fonts/Montserrat-Regular.ttf</string>
		<string>fonts/Montserrat-Black.ttf</string>
		<string>fonts/Montserrat-SemiBold.ttf</string>
		<string>fonts/Montserrat-BlackItalic.ttf</string>
		<string>fonts/Montserrat-BoldItalic.ttf</string>
		<string>fonts/Montserrat-ExtraBold.ttf</string>
		<string>fonts/Montserrat-ExtraBoldItalic.ttf</string>
		<string>fonts/Montserrat-ExtraLight.ttf</string>
		<string>fonts/Montserrat-ExtraLightItalic.ttf</string>
		<string>fonts/Montserrat-Italic.ttf</string>
		<string>fonts/Montserrat-Light.ttf</string>
		<string>fonts/Montserrat-LightItalic.ttf</string>
		<string>fonts/Montserrat-MediumItalic.ttf</string>
		<string>fonts/Montserrat-SemiBoldItalic.ttf</string>
		<string>fonts/Montserrat-Thin.ttf</string>
		<string>fonts/Montserrat-ThinItalic.ttf</string>
		<string>fonts/OpenSans-Light.ttf</string>
		<string>fonts/OpenSans-Bold.ttf</string>
		<string>fonts/OpenSans-Regular.ttf</string>
		<string>fonts/OpenSans-SemiBold.ttf</string>
		<string>fonts/OpenSans-ExtraBold.ttf</string>
		<string>fonts/Lato-Light.ttf</string>
		<string>fonts/Lato-Bold.ttf</string>
		<string>fonts/Lato-Regular.ttf</string>
		<string>fonts/Lato-Black.ttf</string>
		<string>fonts/Lato-Thin.ttf</string>
		<string>fonts/Raleway-Black.ttf</string>
		<string>fonts/Raleway-Bold.ttf</string>
		<string>fonts/Raleway-ExtraBold.ttf</string>
		<string>fonts/Raleway-ExtraLight.ttf</string>
		<string>fonts/Raleway-Light.ttf</string>
		<string>fonts/Raleway-Medium.ttf</string>
		<string>fonts/Raleway-Regular.ttf</string>
		<string>fonts/Raleway-SemiBold.ttf</string>
		<string>fonts/Raleway-Thin.ttf</string>
	</array>
	<key>UILaunchStoryboardName</key>
	<string>LaunchScreen</string>
	<key>UIRequiredDeviceCapabilities</key>
	<array>
		<string>armv7</string>
	</array>
	<key>UISupportedInterfaceOrientations</key>
	<array>
		<string>UIInterfaceOrientationPortrait</string>
		<string>UIInterfaceOrientationLandscapeLeft</string>
		<string>UIInterfaceOrientationLandscapeRight</string>
	</array>
	<key>UIViewControllerBasedStatusBarAppearance</key>
	<false/>
</dict>
</plist>
